.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.converterbox{
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    border: 1px solid black;
    padding: 10px;
}

.graphiccontainer {
    display: flexbox;
    width: 550px;
    height: 280px;
}




